.cartItemTotal tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100% / 3);
}

.cartItem {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cartItemImage {
    width: calc(25% - 16px);
    max-width: 200px;
    margin: 8px;
    display: block;
}

.cartItemInfo {
    width: 75%;
}

.cartItemDesc {
    width: 50%;
}

.cartItemDesc * {
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cartItemTotal {
    width: calc(25% - 16px);
    margin: 8px;
}

.cartItemTotal * {
    display: flex;
    justify-content: center;
    text-align: right;
}

.cartItemQuantity {
    width: 10rem;
}