.itemDisplayContainer {
    display: flex;
    flex-wrap: wrap;
}

.itemDisplayImage {
    height: 400px;
}

.itemDisplayAnimation {
    transition: transform 0.2s ease-in-out;
}

.itemDisplayAnimation:hover {
    transform: scale(1.02);
}

.itemDisplayCursor:hover {
    cursor: pointer;
}

.itemDisplayInStock {
    color: green;
}

.itemDisplayOutOfStock {
    color: red;
}

.itemDisplayFrame {
    padding: 10px;
    margin: 10px 0px;
    width: 400px;
}